<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    <h1>please fill the form below</h1>

    {{form.csrf_token}}

    {{form.name.label}}<br>
    {{form.name}}<br><br>

    {{form.password.label}}<br>
    {{form.password}}<br><br>

    {{form.age.label}}<br>
    {{form.age}}<br><br>

    {{form.submit}}<br>

    {% if error %}
    <p>{{error}}</p>
    {% endif %}




</form>
</body>
</html>